<div class="grid grid-two-columns">
  <app-navbar></app-navbar>

  <div class="container">
      <section>
          <div id="ordersDashboard">
              <h2 class="common-heading" >Payments</h2>
              <table class="userTable">
                  <thead>
                      <tr>
                          <th>Order ID</th>
                          <th>Customer ID</th>
                          <th>Customer Name</th>
                          <th>Customer Mail</th>
                          <th>Customer Mobile</th>
                          <th>Payment Status</th>
                      </tr>
                  </thead>
                  <tbody id="orderDatas">
                          <tr></tr>
                          <tr></tr>
                          <tr></tr>
                          <tr></tr>
                          <tr></tr>
                          <tr></tr>
                  </tbody>
              </table>
          </div>
      </section>
  </div>
</div>